<div class="header">
    <h2>O 3D в кино</h2>
</div>
<nav class="nav1"> 
    <a href="second#1part">Пункт</a> |
    <a href="second#2part">Подпункт 1</a> |
    <a href="second#3part">Подпункт 2</a>
</nav>
<main> 
    <a name="1part"></a>
    <h3 class="head">Пункт</h3>
    Здесь должна быть какая-то умная информация
</main>
<div> 
    <a name="2part"></a>
    <h3 class="head">Подпункт 1</h3>
    Здесь должна быть какая-то умная информация 2.0
</div>
<div> 
    <a name="3part"></a>
    <h3 class="head">Подпункт 2</h3>
    Здесь должна быть какая-то умная информация 3.0. Может ссылочки
</div>