<div class="header">
    <h2>O проектe</h2>
</div>
<nav class="nav"> 
    <a href="first#1part">Введение</a> |
    <a href="first#2part">Подпункт 1</a> |
    <a href="first#3part">Подпункт 2</a>
</nav>
<div> 
    <a name="1part"></a>
    <h3 class="head">Введение</h3>
    Какой-то информативный текст
</div>
<div> 
    <a name="2part"></a>
    <h3 class="head">Подпункт 1</h3>
    Тоже какой-то интересный текст
</div>
<div> 
    <a name="3part"></a>
    <h3 class="head">Подпункт 2</h3>
    Еще какая-то информация
</div>